<h1>Random with Form</h1>
<form action="/random/results">
  <div>
    <label for="user_min">Minimum</label>
    <input id="user_min" name="min" type="text" placeholder="What is the minimum?" value="1">
  </div>

  <div>
    <label for="user_max">Maximum</label>
    <input id="user_max" name="max" type="text" placeholder="What is the maximum?" value="10">
  </div>

  <button>Pick random number</button>
</form> 
