<h1>Random with Form</h1>
<form action="/random/results">
  <div>
    <label for="user_min">Minimum</label>
  </div>
  <div>
    <input type="text" name="min" id="user_min" placeholder="What is the minimum?">
  </div>

  <div>
    <label for="user_max">Maximum</label>
  </div>
  <div>
    <input type="text" name="max" id="user_max" placeholder="What is the maximum?">
  </div>

  <button>Pick random number</button>
</form> 
