<h1>Random with Form</h1>
<form action="/random/results">
  <div>
    <label for="user_min">Minimum</label>
    <input id="user_min" name="min" placeholder="What is the minimum?" type="text">
  </div>

  <div>
    <label for="user_max">Maximum</label>
    <input id="user_max" name="max" placeholder="What is the maximum?" type="text">
  </div>

  <button>Pick random number</button>
</form> 
