<h1>Payment with Form</h1>
<form action="/payment/results">
  <div>
    <label for="user_apr">APR</label>
    <input id="user_apr" name="apr" placeholder="What is the APR?" type="text">
  </div>

  <div>
    <label for="user_years">Number of years</label>
    <input id="user_years" name="years" placeholder="How many years?" type="text">
  </div>

  <div>
    <label for="user_principal">Principal</label>
    <input id="user_principal" name="principal" placeholder="What is the principal?" type="text">
  </div>

  <button>Calculate monthly payment</button>
</form> 
