<h1>Payment with Form</h1>
<form action="/payment/results">
  <div>
    <label for="user_apr">APR</label>
  </div>
  <div>
    <input type="text" name="apr" id="user_apr" placeholder="What is the APR?">
  </div>

  <div>
    <label for="user_years">Number of years</label>
  </div>
  <div>
    <input type="text" name="years" id="user_years" placeholder="How many years?">
  </div>

  <div>
    <label for="user_principal">Principal</label>
  </div>
  <div>
    <input type="text" name="principal" id="user_principal" placeholder="What is the principal?">
  </div>

  <button>Calculate monthly payment</button>
</form> 
