<h1>Payment Results</h1>

<dl>
  <dt>APR</dt>
  <dd><%= @formatted_apr %></dd>

  <dt>Years</dt>
  <dd><%= @years %></dd>

  <dt>Principal</dt>
  <dd><%= number_to_currency(@principal) %></dd>

  <dt>Monthly payment</dt>
  <dd><%= number_to_currency(@monthly_payment) %></dd>
</dl>

<a href="/payment/new">Calculate another payment</a> 
